.Home {
  width: 42em;
  margin: 1em auto;
  color: white;
  border: 1px solid rgba(169, 169, 169, 0.25);
  border-radius: .5em;
}


.preview-container {
  overflow: auto;
  background-color: rgb(36, 36, 36);
}


.toggle-buttons button {
  border-radius: 0 .5em 0 0;
  cursor: pointer;
  width: 45%;
  height: 3em;
  color: white;
  border: none;
}

.toggle-buttons button:first-of-type {
  border-radius: .5em 0 0 0;
  width: 55%;
}

@media only screen and (max-width: 42em){
  .Home {
    width: 100%;
  }

  .toggle-buttons button {
    font-size: 75%;
  }
}